
    <p>Agriculture is that which is so universally understood among them that no person, either man or woman, is ignorant
        of it; they are instructed in it from their childhood, partly by what they learn at school, and partly by practice,
        they being led out
        often into the fields about the town, where they not only see others at work but are likewise exercised in it
        themselves. Besides agriculture, which is so common to them all, every man has some peculiar trade to which he
        applies himself; such as
        the manufacture of wool or flax, masonry, smith’s work, or carpenter’s work; for there is no sort of trade that is
        in great esteem among them. Throughout the island they wear the same sort of clothes, without any other distinction
        except what is
        necessary to distinguish the two sexes and the married and unmarried. The fashion never alters, and as it is neither
        disagreeable nor uneasy, so it is suited to the climate, and calculated both for their summers and winters. Every
        family makes their
        own clothes; but all among them, women as well as men, learn one or other of the trades formerly mentioned. Women,
        for the most part, deal in wool and flax, which suit best with their weakness, leaving the ruder trades to the men.
        The same trade
        generally passes down from father to son, inclinations often following descent: but if any man’s genius lies another
        way he is, by adoption, translated into a family that deals in the trade to which he is inclined; and when that is
        to be done, care
        is taken, not only by his father, but by the magistrate, that he may be put to a discreet and good man: and if,
        after a person has learned one trade, he desires to acquire another, that is also allowed, and is managed in the
        same manner as the former.
        When he has learned both, he follows that which he likes best, unless the public has more occasion for the
        other.</p>

<!-- <body class="ng-cloak" ng-controller="DemoCtrl as ctrl"> -->
  <!-- <button class="btn btn-default btn-xs" ng-click="ctrl.enable()">Enable ui-select</button> -->
  <!-- <button class="btn btn-default btn-xs" ng-click="ctrl.disable()">Disable ui-select</button> -->
  <!-- <button class="btn btn-default btn-xs" ng-click="ctrl.clear()">Clear ng-model</button> -->

  <!-- <h3>Select2 theme</h3> -->
  <!-- <h4>Single property binding with async data</h4> -->


<!-- </body> -->


<!-- {{errorMessage}} -->
<!-- test -->
<!-- {{test}} -->