<!-- <a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a> -->
<!-- <table class="table movietable">
    <tr>
        <td><h3>All Movies</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="movie in movies">
        <td>{{movie.title}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewMovie({id:movie._id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a>
        </td>
    </tr>
</table> -->
<!--       <button type="button" class="btn btn-success" ng-click="hideGrid = !hideGrid">
        {{ hideGrid && 'Show' || 'Hide' }} Grid
      </button>
      <div class="well" ng-hide="hideGrid"> -->

<!-- <div ui-grid="gridOptions"></div> -->
<!-- <center>  -->
      <!-- <div ui-grid="gridOptions" class="grid"></div> -->
      <div ui-grid="gridOptions" class="grid"></div>
<div style="height:50px;"></div>


            <!-- <div class="col-sm-8 col-sm-offset-1"> -->

<center>
<!-- <div class="grid"> -->
    <highchart id="chart1" config="chartConfig" class="grid"></highchart>
    <!-- </div> -->
</center>
<!-- </div> -->
    <!-- <nvd3 options="options" dzata="data"></nvd3> -->



<!-- </center> -->

<!--         <div class="well grid-loading" ng-show="grid.rows.length == 0">
          <i class="fa fa-spin fa-spinner"></i>
          <strong>Data Loading...</strong>
        </div> -->

<!-- </div> -->
<!-- </div> -->



      <!-- <div id="grid1" ui-grid="{data:gridOptions.data}" ui-grid-exporter ui-grid-selection class="grid"></div> -->
      <!-- <div ng-if='columnChanged'> -->
        <!-- Column Visibility Changed - name: {{ columnChanged.name }} visible: {{ columnChanged.visible }} -->
      <!-- </div> -->
