    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <a class="navbar-brand" ui-sref="test">  -->
                    <!-- <img href="ecoflight.jpg"> -->
                    <!-- <img src="/partials/ecoflight.jpg" style="width:128px;height:128px;"> -->
                    <!-- <img src="/partials/ecoflight.jpg" style="height:58px;">
 -->

                <i class="navbar-brand" onmouseover="" style="cursor: default;"> Ecoflight </i>
            <!-- </a> -->
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    





                    <!-- <li ui-sref-active="active"><a ui-sref="app.logins">Login</a></li>                     -->
                    <li ui-sref-active="active"><a ui-sref="app.bio">Bio</a></li>
                    <li permission permission-sref="'app.monit'" ui-sref-active="active"><a ui-sref="app.monit">Мониторинг</a></li>
                    <li permission permission-sref="'app.stats'" ui-sref-active="active"><a ui-sref="app.stats">Статистика</a></li>
                    <li permission permission-sref="'app.noise'" ui-sref-active="active"><a ui-sref="app.noise">Все шумовые данные</a></li>
                    <li permission permission-sref="'app.tracks'" ui-sref-active="active"><a ui-sref="app.tracks">Все самолеты</a></li>


                    <!-- <li ui-sref-active="active"><a ui-sref="app.work">Work</a></li> -->

                    <!-- <div permission permission-sref="'app.work'"> -->
                        <!-- asza -->
                    <!-- </div> -->
                    <!-- <li ui-sref-active="active"><a ui-sref="app.work">Work</a></li> -->



                    <!-- <div ng-controller="LoginController"> -->
                        <!-- <li ng-controller="LoginController" ui-sref-active="active" class="authorize" permission permission-except="'AUTHORIZED'"> -->
                        <li ui-sref-active="active" class="authorize" permission permission-except="'AUTHORIZED'">
                            <a ui-sref="app.login">Вход</a>
                        <li>    
                    <!-- </div> -->

                    <!-- <div ng-controller="LogoutController"> -->
                        <li ng-controller="LogoutController" ui-sref-active="active" class="authorize" permission permission-only="'AUTHORIZED'">
                            <!-- <a ui-sref="app.login">Login</a> -->
                            <a ui-sref="" ng-click="logout()">Выход</a>
                            <!-- <li ui-sref-active="active"><a ui-sref="app.work">Work</a></li> -->
                        <li>
                    <!-- </div> -->

<!-- 
                    <div ng-controller="LogoutController"> 

                    <button ng-click="logout()" class="btn btn-primary">LOGOUT</button>

                    <li ui-sref-active="active" class="authorize" permission permission-only="'AUTHORIZED'">
                        LOGOUTTT
                    <a ng-click="logout()">Logout</a>
                    </li>
                    </div>
 -->

                </ul>
            </div>
        </div>
    </nav>
