<div class="row" align="center" style="margin-left: 40px; max-width: 95%;">
Аэроодром
  <ui-select ng-model="selected_airport.selected" theme="select2" style="min-width: 100px;" on-select="onSelectAirportCallback()" >
    <ui-select-match placeholder="Select an airport">{{$select.selected.name || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="airport as airport in airports">
      <div ng-bind-html="airport.name "></div>
    </ui-select-choices>
  </ui-select>

  &nbsp;
    Станция
    <ui-select ng-model="selected_station.selected" theme="select2"  style="min-width: 300px;" on-select="onSelectStationCallback()">
    <ui-select-match placeholder="Select a station">{{$select.selected.name || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="station as station in stations">
      <div ng-bind-html="station.name "></div>
      <small>
        address: {{station.address}} 
        <!-- age: <span ng-bind-html="''+airport.age "></span> -->
      </small>
    </ui-select-choices>
  </ui-select>
</div>
<div style="height:50px;"></div>


<center> 

    <highchart id="chart1" config="chartConfig" class="grid"></highchart>

<div style="height:50px;"></div>

<form class="form-inline">
  <label for="rg-from">Превышение уровня шума:   </label> &nbsp;	
  <div class="form-group" >
    <input type="number" ng-model= "restrict_noise_level" id="rg-from" name="rg-from" value="" class="form-control" min="0" max="100" style="width:70px;">
  </div>
  <!-- rest of form -->
</form>
<!-- <button ng-click="download_noise_stats()">Click!</button> -->
    <highchart id="chart2" config="chartConfig2" class="grid"></highchart>


<div style="height:20px;"></div>

     <!-- <font size=5px> Select the noise level:</font> -->



<!-- <div class="form-group" style="height:20px; width:70px;">
  <label class='rg-from' for="usr">Name:</label>
   <input class="form-control" type="number" ng-model="restrict_noise_level" name="input" ng-model="level" min="0" max="99">
</div> -->




</center>