<div class="row" align="center" style="margin-left: 40px; max-width: 95%;">
Аэроодром
  <ui-select ng-model="selected_airport.selected" theme="select2" style="min-width: 100px;" on-select="onSelectAirportCallback()" >
    <ui-select-match placeholder="Select an airport">{{$select.selected.name || $select.selected}}</ui-select-match>
    <ui-select-choices repeat="airport as airport in airports">
      <div ng-bind-html="airport.name "></div>
    </ui-select-choices>
  </ui-select>


<div style="height:50px;"></div>




  <body>



<div class="row" style="margin-left: 40px; max-width: 95%;">

<div class="form-group col-xs-12" style="height:20px; width:250px;"
     moment-picker="datepicker_from"
     format="YYYY-MM-DD HH:mm:ss">
    <!-- <span class="input-group-addon"> -->
        <!-- <i class="octicon octicon-calendar"></i> -->
    <!-- </span> -->
    <input class="form-control"
           locale="ru"
           placeholder="Select date: From"
           ng-model="datepicker_from"
           ng-model-options="{ updateOn: 'blur' }">
</div>



<div class="form-group col-xs-6" style="height:20px; width:250px;"
     moment-picker="datepicker_to"
     format="YYYY-MM-DD HH:mm:ss">

    <!-- <span class="input-group-addon"> -->
        <!-- <i class="octicon octicon-calendar"></i> -->
    <!-- </span> -->
    <input class="form-control"
           locale="ru"
           placeholder="Select date: To"
           ng-model="datepicker_to"
           ng-model-options="{ updateOn: 'blur' }">
</div>
        


<div class="col-xs-1">
 <button ng-click="fill_tracks_table()" class="btn btn-primary">OK</button>
</div>

<!-- 
    <div class="col-xs-1" >
    <input class="form-control" style="width:250px;" type="number" name="input" ng-model="track">
    </div>  
    <button ng-click="fill_tracks_table()" class="btn btn-primary">Click</button>

 -->








<div class="form-group col-xs-6" style="height:20px; width:250px;"
     >
    <input class="form-control"
           type="number"
           placeholder="Select track number"
           ng-model="track"
           ng-model-options="{ updateOn: 'blur' }">
</div>
        
<div class="col-xs-1">
 <button ng-click="fill_tracks_table_by_track_number()" class="btn btn-primary">OK</button>
</div>



</div>



<center>
<div style="height:50px;"></div>

      <!-- <div ui-grid="gridOptions" ui-grid-selection ui-grid-cellnav ui-grid-custom-cell-select class="grid3"></div> -->
      <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-cellnav ui-grid-custom-cell-select class="grid3"></div>

</body>
</center>

